@model HotelGame.WebMVC.Models.GamePlay.GetAllPlayerRoomsViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Users/Views/Shared/_UserLayout.cshtml";
}


@if (Model.CheckPlayerHotel == true)
{
@*     <button class="button-30" role="button" onclick="sw(),openLoginPopup()" onchange="sw()">
        <p class="m-2" id="loginButtonText">
            Oyna
        </p>
    </button> *@

    @*Add Category Modal Start*@
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Otel Macerasına Başla</h5>
            <p>İlk Otelini Eklemek İçin Oteline Bir İsim Ver !!!!</p>

            <!-- Vertically centered Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                Ekle
            </button>
            <div class="modal fade" id="verticalycentered" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Lütfen Otel Adını Yaz</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3" asp-controller="Dashboard" asp-action="HotelCreater" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-12">

                                    <label for="inputNanme4" class="form-label">Otel Adı</label>
                                    <input asp-for="HotelName" id="Name" type="text" class="form-control" placeholder="Benim Güzel Otelim">
                                    <span asp-validation-for="HotelName" class="text-danger"></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                                    <button type="submit" class="btn btn-primary" value="Add">Oteli Oluştur</button>
                                </div>
                            </form><!-- Vertical Form -->
                        </div>
                    </div>
                </div>
            </div><!-- End Vertically centered Modal-->

        </div>
    </div>
    @*Add Category Modal End*@
}
else
{
    @foreach (var item in Model.PlayerRooms)
    {
        <div style="display:flex;width:100%;height:88vh;background-color:lightgray; justify-content:center; align-items:center">
            <div style="display:flex;width:70%;height:50%;background-color:lightgray;">
                <a href="/Bac" class="box">
                    <img src="~/img/room.png" class="png" />
                    <span style="z-index:5;display: flex;width:75px; justify-content:center;background-color: rgba(51, 51, 51, 0.6);border-radius: 3px;position:absolute;bottom:0px;">
                        <text style="color: rgb(242, 242, 242);">@item.RoomType.Name</text>
                    </span>
                </a>
            </div>
        </div>
    }
}


