
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-100 h-100 container d-flex">
    
    <table class="table col-10">
        <thead>
            <tr>
                <th scope="col" class="col-2"></th>
                <th scope="col" class="col-2"></th>
                <th scope="col" class="col-2"></th>
                <th scope="col" class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td class="col-3"><div class="box"><img src="~/img/exchange.png" class="alt"/><img src="~/img/concrete-1001.png" class="ust"/></div></td>
                <td class="col-3"><div class="box"><img src="~/img/exchange.png" class="alt" /><img src="~/img/concrete-1001.png" class="ust" /></div></td>
                <td class="col-3">d</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>f</td>
            </tr>
            </tbody>
    </table>
</div>
