@model HotelGame.WebMVC.Models.Account.LoginViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex;width:100vw;height:100vh;background-color:aqua; justify-content:center; align-items:center">
    <div style="display:flex;width:70%;height:50%;background-color:red;">
        <div class="box"><img src="~/img/exchange.png" class="alt" /><img src="~/img/concrete-1001.png" class="ust" /></div>
        <div class="box" style="top:64px; right:39px;z-index:2;"><img src="~/img/exchange.png" class="alt" /><img src="~/img/concrete-1001.png" class="ust" /></div>
    </div>

</div>
