
<footer class="border-top footer text-muted">
    <div class="container h-100 d-flex justify-content-center align-items-center">
        &copy; 2023 - HotelGame.WebMVC -&nbsp; <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>