
<footer class="border-top footer text-muted">
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="text-center"><p class="footer1">Copyright © 2024 Dream Hotel Tycoon | Hotel management simulation game</p></div>
    </div>
</footer>
