
<header class="header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">

            <div class="col-sm-4">
                <a class="w3-bar-item w3-button" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
            </div>
            <div class="col-sm-4">
                <a class="w3-bar-item w3-button" asp-area="" asp-controller="Account" asp-action="SignUp">Kayıt Ol</a>
            </div>
            <div class="col-sm-4">
                <a class="w3-bar-item w3-button" asp-area="" asp-controller="" asp-action="Index">Anasayfa</a>
            </div>

        </div>
    </nav>
</header>