@model HotelGame.WebMVC.Models.Account.UserViewModel;

<header class="header border-bottom">
    <nav class="navbar h-100 d-flex align-items-center">
        <div id="headerLogo" class="col-3">
            <a class="w3-bar-item w3-button" asp-area="" asp-controller="" asp-action="Index" style="color:lightgrey;"><h3>Dream Hotel Tycoon</h3></a>
        </div>
        <div class="container m-0 col-6">
            <div class="col-2">
                <a class="w3-bar-item w3-button btn-" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
            </div>
            <div class="col-2 ">
                <a class="w3-bar-item w3-button" asp-area="" asp-controller="Account" asp-action="SignUp">Kayıt Ol</a>
            </div>
            <div class="col-2">
                <a class="w3-bar-item w3-button" asp-area="" asp-controller="" asp-action="Index">Anasayfa</a>
            </div>
            <div class="col-2">
                <a class="w3-bar-item w3-button" asp-area="" asp-controller="Game" asp-action="Index">Oyun</a>
            </div>
        </div>
        <div id='headerLogin' class="col-3">
            <button class="play-login-button" role="button" onclick="openLoginPopup()" id="loginButton">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Oyna
            </button>
            <div id="loginPopup" class="login-box">
                <button class="close" onclick="closeLoginPopup()">&times;</button>
                <h2>Giriş Yap</h2>
                <form class="p-4" asp-action="Login" asp-controller="Account" asp-route-returnurl="@Context.Request.Query[" ReturnUrl "]">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="user-box">
                        <input asp-for="Email" type="text" class="form-control" id="userName" required>
                        <label>E-Posta</label>
                    </div>
                    <div class="user-box">
                        <input asp-for="Password" type="password" class="form-control" id="pwd" required>
                        <label>Şifre</label>
                    </div>
                    <button type="submit" class="login-button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Giriş Yap
                    </button>
                </form>
                <button class="login-button" style="margin:0px;" role="button" onclick="openSigninPopup()" id="signinButton">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Kayıt Ol
                </button>
            </div>
            <div id="SigninPopup" class="login-box" style="display: none;">
                <button class="close" onclick="closeSigninPopup()">&times;</button>
                <h2>Kayıt Ol</h2>
                <form class="p-4" asp-action="SignUp" asp-controller="Account" asp-route-returnurl="@Context.Request.Query[" ReturnUrl "]">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="user-box">
                        <input asp-for="Email" type="text" class="form-control" id="userName">
                        <label>E-Posta</label>
                    </div>
                    <div class="user-box">
                        <input asp-for="Name" type="text" class="form-control" id="userName">
                        <label>İsim</label>
                    </div>
                    <div class="user-box">
                        <input asp-for="LastName" type="text" class="form-control" id="userName">
                        <label>Soyisim</label>
                    </div>
                    <div class="user-box">
                        <input asp-for="Password" type="password" class="form-control" id="pwd">
                        <label>Şifre</label>
                    </div>
                    <div class="user-box">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="pwd">
                        <label>Şifre Yeniden</label>
                    </div>
                    <button type="submit" class="login-button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Kayıt Ol
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>
