@model HotelGame.WebMVC.Models.Account.LoginViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="baccontainer">
        <h1>............</h1>
        <div class="product">
            <img src="product1.jpg" alt="Ürün 1">
            <h2>Ürün 1</h2>
            <p>Fiyat: $10</p>
            <p>Stok: 50</p>
        </div>
        <div class="product">
            <img src="product2.jpg" alt="Ürün 2">
            <h2>Ürün 2</h2>
            <p>Fiyat: $8</p>
            <p>Stok: 30</p>
        </div>
        <div class="product">
            <img src="product3.jpg" alt="Ürün 3">
            <h2>Ürün 3</h2>
            <p>Fiyat: $15</p>
            <p>Stok: 20</p>
        </div>
    </div>
</body>
</html>
