@model HotelGame.WebMVC.Models.Account.LoginViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex;width:100vw;height:100vh">hey</div>
