@model HotelGame.WebMVC.Models.Account.LoginViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="homeContainer"></div>
<div style="height:100%;width:100%;">
    <img src="~/img/resepsiyon - butonsuz.png" class="gorsel" />
</div>
<div style="height:200vh;"></div>


