@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <!-- Sadece görsel ekleyeceğimiz için bu kısmı kaldırıyoruz -->
    <!-- <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
<!--</div>

<!-- Görsel ekliyoruz ve ortalamak için CSS kullanacağız -->
<div class="indexDiv"></div>