@{
    ViewData["Title"] = "Home Page";
}

<div class="homeContainer">
    <div class="image-container">
        <img src="/img/home1.png" alt="Home Image">
    </div>
    <a class="enter-button" asp-area="" asp-controller="Account" asp-action="Login">GİRİŞ YAP</a>
</div>


