@{
    ViewData["Title"] = "Home Page";
}

<!-- Görsel ekliyoruz ve ortalamak için CSS kullanacağız -->
<div class="image-container">
    <img src="/img/home1.png" alt="Home Image">
    <button class="enter-button">Giriş</button> <!-- Giriş butonu eklendi -->
</div>
