<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelGame.WebMVC</title>
    
    @await Html.PartialAsync("_AdminCssPartialView")

</head>
<body>

    <partial name="_AdminHeaderPartialView" />


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_AdminFooterPartialView" />

    @await Html.PartialAsync("_AdminJsPartialView");

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
