@model HotelGame.WebMVC.Models.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="text-danger">
        <p>@ViewBag.Error</p>
    </div>
}


<div class="wrapper">
    <form class="p-4" asp-action="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mt-5">
            <span class="far fa-user"></span>
            <label asp-for="Email" class="control-label">E-Posta</label>
            <input asp-for="Email" type="text" class="form-control" id="userName" placeholder="E-Posta">
        </div>
        <div class="form-group">
            <span class="fas fa-key"></span>
            <label asp-for="Password" class="control-label">Şifre</label>
            <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Şifre">
        </div>
        <div class="form-group">
            <button class="btn mt-3 btn-success" type="submit" value="Login">Giriş Yap</button>
        </div>
    </form>
    <div class="text-center fs-6">
        <a href="#">Şifremi Unuttum</a> veya <a asp-area="" asp-controller="Account" asp-action="SignUp">Kayıt Ol</a>
    </div>
</div>

