@model HotelGame.WebMVC.Models.GamePlay.GetAllPlayerRoomsViewModel;

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="Dashboard" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            @if (Model.PlayerHotel != null)
            {
                <span class="d-none d-lg-block">@Model.PlayerHotel.HotelName</span>
            }
            else
            {
                <p>Otelini Oluştur</p>
            }
        </a>
    </div><!-- End Logo -->

    <partial name="_UserMenuPartialView" />

</header><!-- End Header -->
