<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelGame.WebMVC</title>
    
    @await Html.PartialAsync("_UserCssPartialView")

</head>
<body>

    <script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>

    <partial name="_UserHeaderPartialView" />


    <main role="main" class="main">
        <div class="pagetitle">
            @RenderBody()
        </div>
    </main>

    <partial name="_UserFooterPartialView" />

    @await Html.PartialAsync("_UserJsPartialView")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
