<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " asp-controller="Dashboard" asp-area="Admins" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Anasayfa</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i><span>Kullanıcılar</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Dashboard" asp-area="Admins" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Yönetici Listesi</span>
                    </a>
                </li>
                                <li>
                    <a asp-controller="Dashboard" asp-area="Admins" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Oyuncu Listesi</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Oyun Nesneleri</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="HotelTypes" asp-area="Admins" asp-action="GetAllHotelTypes">
                        <i class="bi bi-circle"></i><span>Otel Tipleri</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="RoomTypes" asp-area="Admins" asp-action="GetAllRoomTypes">
                        <i class="bi bi-circle"></i><span>Oda Tipleri</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="RoomMaterials" asp-area="Admins" asp-action="GetAllRoomMaterials">
                        <i class="bi bi-circle"></i><span>Oda Malzemeleri</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Customers" asp-area="Admins" asp-action="GetAllCustomers">
                        <i class="bi bi-circle"></i><span>Müşteri Çeşitleri</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Dashboard" asp-area="Admins" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Personel Çeşitleri</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Oyun Yönetimi</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Dashboard" asp-area="Admins" asp-action="Index">
                        <i class="bi bi-circle"></i><span>Yönetim</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Account" asp-area="" asp-action="Logout">
                <i class="ri-align-center"></i><span>Çıkış</span>
            </a>
        </li>


    </ul>

</aside><!-- End Sidebar-->
