body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Eğer tarayıcı scroll barı görünüyorsa, onu gizlemek için */
}

.image-container {
    position: fixed; /* Sayfanın her zaman en üstünde olacak */
    top: 0; /* Header yüksekliği kadar aşağıda başlayacak */
    left: 0;
    right: 0; /* Sayfa genişliği kadar uzanacak */
    bottom: 0; /* Footer yüksekliği kadar yukarıda bitecek */
    overflow: hidden; /* Taşan kısımları kesecektir */
    z-index: -1; /* Diğer öğelerin üstünde olmasını sağlar */
}

.image-container img {
    width: 100%; /* Genişlik tam sayfa genişliği kadar olacak */
    height: 100%; /* Orantılı olarak yükseklik ayarlanacak, kırpma olmayacak */
    position: absolute; /* Diğer öğelerin içine girecek */
    top: 50%; /* Sayfanın ortasına gelecek */
    left: 50%; /* Sayfanın ortasına gelecek */
    transform: translate(-50%, -50%); /* Dikey ve yatay olarak merkezlemek için */
 }

.enter-button {
    position: absolute; /* Giriş butonunun pozisyonunu ayarlamak için */
    top: 63%; /* Sayfanın ortasına gelecek */
    left: 51%; /* Sayfanın ortasına gelecek */
    transform: translate(-50%, -50%); /* Dikey ve yatay olarak merkezlemek için */
    padding: 33px 22px;
    color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; /* Butonu şeffaf yapmak için */
    font-size: 20px; /* Yazı boyutu */
    font-family: Arial, sans-serif; /* Yazı tipi */
    font-weight: bold; /* Yazı kalınlığı */
    text-transform: uppercase; /* Yazıları büyük harfe dönüştür */
    letter-spacing: 1px; /* Harfler arası boşluk */
    text-decoration: none; /* Yazı altı çizgisi */
}


.footer {
    position: fixed; /* Sayfanın altında sabit kalacak */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Footer yüksekliği */
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 80px; /* Footer içeriğini dikey olarak ortalamak için */
}
