.homeContainer {
    height:2000px;
    width:100%;
}

.image-container {
    z-index:-1;
    position: absolute; /* Sayfanın her zaman en üstünde olacak */
    top: 0; /* Header yüksekliği kadar aşağıda başlayacak */
    left: 0;
    right: 1px; /* Sayfa genişliği kadar uzanacak */
    bottom: 0; /* Footer yüksekliği kadar yukarıda bitecek */
    overflow: hidden; /* Taşan kısımları kesecektir */
}

.image-container img {
    width: 100%; /* Genişlik tam sayfa genişliği kadar olacak */
    height: 100%; /* Orantılı olarak yükseklik ayarlanacak, kırpma olmayacak */
    position: relative; /* Diğer öğelerin içine girecek */
    top: 50%; /* Sayfanın ortasına gelecek */
    left: 50%; /* Sayfanın ortasına gelecek */
    transform: translate(-50%, -50%); /* Dikey ve yatay olarak merkezlemek için */
}

.enter-button {
    z-index:1;
    position: absolute; /* Giriş butonunun pozisyonunu ayarlamak için */
    top: 63%; /* Sayfanın ortasına gelecek */
    left: 51%; /* Sayfanın ortasına gelecek */
    transform: translate(-50%, -50%); /* Dikey ve yatay olarak merkezlemek için */
    padding: 33px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; /* Butonu şeffaf yapmak için */
    font-size: 20px; /* Yazı boyutu */
    font-family: Arial, sans-serif; /* Yazı tipi */
    font-weight: bold; /* Yazı kalınlığı */
    text-transform: uppercase; /* Yazıları büyük harfe dönüştür */
    letter-spacing: 1px; /* Harfler arası boşluk */
    text-decoration: none; /* Yazı altı çizgisi */
}
.enter-button:hover{
    color:blue;
    background-color:white;
}



